<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <title>My New CouchApp</title>
        <link rel="stylesheet" href="style/jquery.mobile-1.3.0.min.css" />
        <script src="js/libs/require.js" data-main="js/app"></script>
    </head>
    <body>
        <!-- Home -->
        <div data-role="page" id="home">
            <div data-theme="a" data-role="header">
                <h3>
                    Login
                </h3>
            </div>
            <div  data-role="content">
                <div data-role="fieldcontain">
                    <label for="userid">Userid:</label>
                    <input type="text" name="userid" id="userid" value="" />
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" value="" />
                </div>
                <a  id="loginButton", data-role="button" href="#peoplePage">
                    Login
                </a>
            </div>
        </div>
        <div data-role="page" id="peoplePage">
            <div data-theme="a" data-role="header">
                <h3>
                    People
                </h3>
                <a id="addPersonButton" class="ui-btn-right" href="#editPerson" data-role="button"
                    data-icon="plus" data-iconpos="notext" data-transition="flip"
                    data-theme="c" data-inline="true" >
                    Plus
                </a>
            </div>
            <div id="people" data-role="content">
                 <ul data-role="listview" data-divider-theme="b" data-inset="true">
                 </ul>
            </div>
            <script id="personItems" type="text/template">
                    <li data-theme="c">
                        <a href="#items" data-transition="slide" data-mobigift-personId="<%=person._id%>">
                            <%= person.firstName %>
                        </a>
                    </li>
          </script>
        </div>
        <div data-role="page" id="editPerson">
            <div data-theme="a" data-role="header">
                <a class="back id="editPersonCancel" data-role="button" 
                    data-icon="arrow-l" data-iconpos="left" data-rel="back">Cancel</a>
                <h3>Person</h3>
                <a class="saveButton" data-role="button" data-theme="b" data-rel="back">Save</a>
            </div>
            <div data-role="content">
                <fieldset>
                    <label for="text-basic" class="ui-input-text ">First name</label>
                    <input id="epPersonFirstName" type="text" name="text-basic" value="">
                    <label for="text-basic" class="ui-input-text ">Last name</label>
                    <input id="epPersonLastName" type="text" name="text-basic" value="">
                </fieldset>
            </div>
            <div data-theme="a" data-role="footer" data-position="fixed">
                <h3>
                    Footer
                </h3>
            </div>
        </div>
        <div data-role="page" id="items">
            <div data-theme="a" data-role="header">
                <a  data-role="button" data-icon="arrow-l" data-iconpos="left" data-rel="back">People</a>
                <h3 id="itemListHeading">
                    Items for Roger
                </h3>
                <a id="addItemButton" class="ui-btn-right" href="#editItem" data-role="button"
                    data-icon="plus" data-iconpos="notext" data-transition="flip"
                    data-theme="c" data-inline="true" >
                    Plus
                </a>
            </div>
            <div data-role="content">
                <ul id="itemListView" data-role="listview" data-divider-theme="b" data-inset="true">
                <!--
                    <li data-role="list-divider" role="heading">
                        Divider
                    </li>
                -->
                </ul>
            </div>
            <div data-theme="a" data-role="footer" data-position="fixed">
                <h3>
                    Footer
                </h3>
            </div>
            <script id="itemItems" type="text/template">
                    <li data-theme="c">
                        <a href="#item" data-transition="slide">
                            <%= item.itemName %>
                        </a>
                    </li>
          </script>
        </div>
        <div data-role="page" id="item">
            <div data-theme="a" data-role="header">
                <a  data-role="button" data-icon="arrow-l" data-iconpos="left" data-rel="back">Items</a>
                <h3>
                    Item
                </h3>
            </div>
            <div data-role="content">
                Item 1
                <br/>
                <br/>
                Item 1 description
                <ul data-role="listview" data-inset="true">
                    <li data-role="list-divider">Friday, October 8, 2010 <span class="ui-li-count">2</span></li>
                    <li><a href="index.html">
                        <h2>Stephen Weber</h2>
                        <p><strong>You've been invited to a meeting at Filament Group in Boston, MA</strong></p>
                        <p>Hey Stephen, if you're available at 10am tomorrow, we've got a meeting with the jQuery team.</p>
                        <p class="ui-li-aside"><strong>6:24</strong>PM</p>
                    </a></li>
                    <li><a href="index.html">
                        <h2>jQuery Team</h2>
                        <p><strong>Boston Conference Planning</strong></p>
                        <p>In preparation for the upcoming conference in Boston, we need to start gathering a list of sponsors and speakers.</p>
                        <p class="ui-li-aside"><strong>9:18</strong>AM</p>
                    </a></li>
                    <li data-role="list-divider">Thursday, October 7, 2010 <span class="ui-li-count">1</span></li>
                    <li><a href="index.html">
                        <h2>Avery Walker</h2>
                        <p><strong>Re: Dinner Tonight</strong></p>
                        <p>Sure, let's plan on meeting at Highland Kitchen at 8:00 tonight. Can't wait! </p>
                        <p class="ui-li-aside"><strong>4:48</strong>PM</p>
                    </a></li>
                </ul>    
            </div>
            <div data-theme="a" data-role="footer" data-position="fixed" style="text-align: center;">
                <a href="#" data-inline="true" data-role="button" data-inline="true" >Take</a>
                <a href="#" data-inline="true" data-role="button" data-inline="true" >Return</a>
            </div>
        </div>
        <div data-role="page" id="editItem">
            <div data-theme="a" data-role="header">
                <a  data-role="button" data-icon="arrow-l" data-iconpos="left" data-rel="back">Items</a>
                <h3>
                    Item
                </h3>
                <a class="saveButton" data-role="button" data-theme="b" data-rel="back">Save</a>
            </div>
            <div data-role="content">
                <fieldset>
                    <label for="text-basic" class="ui-input-text ">Name</label>
                    <input id="eiItemName" type="text" name="text-basic" value="">
                </fieldset>
            </div>
            <div data-theme="a" data-role="footer" data-position="fixed" style="text-align: center;">
                <a href="#" data-inline="true" data-role="button" data-inline="true" >Take</a>
                <a href="#" data-inline="true" data-role="button" data-inline="true" >Return</a>
            </div>
        </div>
    </body>
</html>