<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <title>My New CouchApp</title>
        <link rel="stylesheet" href="style/jquery.mobile-1.3.0.min.css" />
        <script src="js/libs/require.js" data-main="js/app"></script>
    </head>
    <body>
        <!-- Home -->
        <div data-role="page" id="page1">
            <div data-theme="a" data-role="header">
                <h3>
                    People
                </h3>
            </div>
            <div data-role="content">
                <div id="people">
                     <ul >
                     </ul>
                </div>
            </div>
            <script id="personItems" type="text/template">
                <% _.each( collection.toJSON(), function( person, id ) { %>
    
                    <li class="ui-li ui-li-static ui-btn-up-c ui-corner-top">
                      <%= person.firstName %>
                    </li>
    
                <% }); %>
          </script>
        </div>
    </body>
</html>